{
  "extends": [
    "daren",
    "daren/react",
    "daren/jsx-a11y"
  ],
  "settings": {
    "import/resolver": {
      "alias": [
        [
          "~services",
          "./src/services"
        ],
        [
          "~components",
          "./src/components"
        ],
        [
          "~data",
          "./src/data"
        ],
        [
          "~hooks",
          "./src/hooks"
        ],
        [
          "~images",
          "./src/images"
        ],
        [
          "~layouts",
          "./src/layouts"
        ],
        [
          "~modules",
          "./src/modules"
        ],
        [
          "~pages",
          "./src/pages"
        ],
        [
          "~styles",
          "./src/styles"
        ],
        [
          "~styles",
          "./src/styles"
        ],
        [
          "~templates",
          "./src/templates"
        ],
        [
          "~utils",
          "./src/utils"
        ]
      ]
    }
  }
}