{
  "env": {
    "browser": true
  },
  "extends": [
    "airbnb"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "rules": {
    "jsx-a11y/label-has-associated-control": [ 2, {
      "assert": "either",
    }],
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "exports": "always-multiline",
        "functions": "ignore",
        "imports": "always-multiline",
        "objects": "always-multiline"
      }
    ],
    "import/prefer-default-export": "off",
    "linebreak-style": [
      "error",
      "unix"
    ],
    "max-len": [
      "error",
      160,
      2,
      {
        "ignoreComments": true,
        "ignoreRegExpLiterals": true,
        "ignoreStrings": false,
        "ignoreTemplateLiterals": true,
        "ignoreUrls": true
      }
    ],
    "no-param-reassign": "warn",
    "no-unused-expressions": "error",
    "react/jsx-filename-extension": 0,
    "react/react-in-jsx-scope": "off",
    "react/jsx-props-no-spreading": "off",
    "react/forbid-prop-types": [
      "error",
      {
        "checkChildContextTypes": true,
        "checkContextTypes": true,
        "forbid": [
          "any",
          "object"
        ]
      }
    ],
    "jsx-a11y/anchor-is-valid": "off",
    "react/jsx-indent": [
      "error",
      2
    ],
    "react/jsx-indent-props": [
      "error",
      2
    ],
    "react/jsx-no-bind": [
      2,
      {
        "allowBind": true,
        "ignoreRefs": true
      }
    ],
    "react/no-danger": "warn",
    "react/prefer-stateless-function": [
      "error",
      {
        "ignorePureComponents": true
      }
    ],
    "sort-keys": [
      "warn",
      "asc",
      {
        "caseSensitive": true,
        "natural": true
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "alias": [
        [
          "~api",
          "./src/api"
        ],
        [
          "~components",
          "./src/components"
        ],
        [
          "~data",
          "./src/data"
        ],
        [
          "~hooks",
          "./src/hooks"
        ],
        [
          "~images",
          "./src/images"
        ],
        [
          "~layouts",
          "./src/layouts"
        ],
        [
          "~modules",
          "./src/modules"
        ],
        [
          "~pages",
          "./src/pages"
        ],
        [
          "~styles",
          "./src/styles"
        ],
        [
          "~styles",
          "./src/styles"
        ],
        [
          "~templates",
          "./src/templates"
        ],
        [
          "~utils",
          "./src/utils"
        ]
      ]
    }
  }
}